{% extends "base.html" %}

{% block head %}
  <style>
    form { width: 100%; }
    form button { width: 100%; }
  </style>
{% endblock %}

{% block content %}
  <div class="mui-container-fluid">
    <div class="mui-row">
      <div class="mui-col-lg-4 mui-col-lg-offset-4 mui-col-md-6 mui-col-md-offset-3">
        <h2>{{ tr.Youraccount }}</h2>
        <form class="mui-form" method="get" action="{% url "edit-dj" lang=tr.lang %}">
          <button type="submit" class="mui-btn mui-btn--primary mui-btn--raised">{{ tr.EditDJprofile }}</button>
        </form>
        <h2>{{ tr.Pendingbookings }}</h2>
        {% if not pending_bookings %}
          <p>{{ tr.Youhavenopendingbookings }}</p>
        {% else %}
          <p>{{ tr.Youhavependingbookings }}</p>
          <p>{{ tr.Pleaseacceptordeclinethem }}</p>
          <ul>
            {% for booking in pending_bookings %}
              <li><a href="{% url 'booking' lang=tr.lang code=booking.code %}">{{ booking.contact_name }}</a></li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
