{% load static %}
{% include "favicon.html" %}
{% include "og-meta-tags.html" %}

<!-- MUI -->
<link rel="stylesheet" href="{% static "mui.css" %}">
<script src="{% static "mui.js" %}"></script>

<!-- Navigation -->
<link rel="stylesheet" href="{% static "nav.css" %}">
<script src="{% static "nav.js" %}"></script>

<!-- Global styles -->
<link rel="stylesheet" href="{% static "global.css" %}">

<!-- Navigation -->
{% include "nav.html" %}

<!-- Content -->
<div id="content">{% block content %}{% endblock %}</div>

<!-- Footer -->
{% include "footer.html" %}
