{% extends "base.html" %}

{% load static %}
{% load translation %}
{% load booking %}

{% block head %}
  <style>
    td:first-child {
      white-space: nowrap;
    }
  </style>
{% endblock %}

{% block content %}
  <div class="mui-container-fluid">
    <div class="mui-row">
      <div class="mui-col-md-6 mui-col-md-offset-3">
        {% if booking.status == "pending" and user != booking.user %}
          <p>
            {{ tr.Wehavecontactedavailability_template|with_arg:booking.user.dj.name }}
          </p>
          <p>
            {{ tr.Youwillreceiveanemailacceptdecline_text }}
          </p>
        {% endif %}
        <table class="mui-table mui-table--bordered">
          <thead>
            <tr>
              <th colspan="2">{{ tr.Booking }}</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{ tr.DJ }}</td>
              <td width="100%">{{ booking.user.dj.name }}</td>
            </tr>
            <tr>
              <td>{{ tr.Status }}</td>
              <td>{{ booking.status|translate_status:tr.lang }}</td>
            </tr>
            <tr>
              <td>{{ tr.Address }}</td>
              <td>{{ booking.address }}</td>
            </tr>
            <tr>
              <td>{{ tr.Contactname }}</td>
              <td>{{ booking.contact_name }}</td>
            </tr>
            <tr>
              <td>{{ tr.Phonenumber }}</td>
              <td>{{ booking.phone_number }}</td>
            </tr>
            <tr>
              <td>{{ tr.Rate }}</td>
              <td>{{ tr.Rateshort_template|with_arg:booking.rate|safe }}</td>
            </tr>
            <tr>
              <td>{{ tr.Settime }}</td>
              <td>{{ booking.set_time|render_datetime }}</td>
            </tr>
            <tr>
              <td>{{ tr.Hours }}</td>
              <td>{{ booking.hours }}</td>
            </tr>
            <tr>
              <td>{{ tr.Otherinformation }}</td>
              <td>{{ booking.other_information }}</td>
            </tr>
          </tbody>
        </table>
        {% if booking.status == "pending" and user == booking.user %}
          <form class="mui-form" method="post" style="display: inline-block;">
            {% csrf_token %}
            <input type="hidden" name="response" value="accept">
            <button type="submit" class="mui-btn mui-btn--primary mui-btn--raised">{{ tr.Accept }}</button>
          </form>
          <form class="mui-form" method="post" style="display: inline-block;">
            {% csrf_token %}
            <input type="hidden" name="response" value="decline">
            <button type="submit" class="mui-btn mui-btn--danger mui-btn--raised">{{ tr.Decline }}</button>
          </form>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
