{% load static %}
<style>
  * { box-sizing: border-box; }
  html, body { margin: 0; padding: 0; }
  .page { margin: 1em auto; max-width: 100%; width: 40em; }
  input, select { padding: 1em; }
  input[type="text"], input[type="email"] { width: 100%; }
  table { width: 100%; }
  td { padding: 1em; vertical-align: top; }
  .flags { text-align: right; }
</style>
<div class="page">
  <p class="flags">
    <a href="/en"><img src="{% static "en.png" %}" width="20px"/></a>
    <a href="/de"><img src="{% static "de.png" %}" width="20px"/></a>
  </p>
  <table>
    <tr>
      <td>
        <img src="{% static "speaker.png" %}" width="128px"/>
      </td>
      <td width="100%">
        <p>
          Willkommen auf <strong>beatmatcher.org</strong>. Wir sind ein neues
          Jungunternehmen, das DJs einen Ort bietet, an dem sie ihre Arbeit
          präsentieren und von Veranstaltungsorten engagiert werden können.
        </p>
        <p>
          Wenn Sie ein DJ oder ein Veranstaltungsort sind, bekunden Sie bitte Ihr Interesse, indem Sie unten Ihre E-Mail-Adresse angeben.
        </p>
        <p>
          Wir werden Sie über unseren Start im Jahr 2024 informieren.
        </p>
        <form method="post">
          {% csrf_token %}
          <p>
            <select name="type">
              <option>Sind Sie ein DJ oder ein Veranstaltungsort?</option>
              <option value="dj">Ich bin DJ</option>
              <option value="venue">Wir sind ein Veranstaltungsort</option>
            </select>
          </p>
          <p>
            <input type="text" maxlength="200" name="name" placeholder="Vorname oder Name des Veranstaltungsortes"/>
          </p>
          <p>
            <input type="email" maxlength="200" name="email" placeholder="E-Mail-Adresse"/>
          </p>
          <p>
            <input type="submit" value="Halten Sie mich auf dem Laufenden!"/>
          </p>
        </form>
      </td>
    </tr>
  </table>
</div>
