{% extends "base.html" %}
{% load static %}

{% block content %}
  <div class="mui-container-fluid">
    {% for dj in djs %}
      <div class="mui-row">
        <div class="mui-col-lg-3 mui-col-lg-offset-3 mui-col-md-3">
          {% if dj.picture %}
            <img src="{% get_static_prefix %}images/djs/{{ dj.id }}.png" style="margin-top: 1em">
          {% endif %}
        </div>
        <div class="mui-col-lg-4 mui-col-md-9">
          <h2>{{ dj.name }}</h2>
          <p>{{ dj.description }}</p>
          {% if dj.rate is not None %}
            <p>Rate: &euro;{{ dj.rate }} per hour</p>
          {% endif %}
          {% if not dj.in_house %}
            <p><strong>Beatmatcher is not directly affiliated with this DJ.</strong></p>
          {% endif %}
          {% if dj.in_house or dj.booking_url %}
            <form
              class="mui-form"
              style="display: inline-block;"
              method="get"
              action="{% if dj.in_house %}{% url "book" lang=tr.lang dj_username=dj.username %}{% else %}{{ dj.booking_url }}{% endif %}"
            >
              <button type="submit" class="mui-btn mui-btn--primary mui-btn--raised">
                {% if dj.in_house %}
                  {{ tr.Booknow }}
                {% else %}
                  {{ tr.Bookings }}
                {% endif %}
              </button>
            </form>
          {% endif %}
          {% if dj.soundcloud_url %}
            <form class="mui-form" style="display: inline-block;" method="get" action="{{ dj.soundcloud_url }}">
              <button type="submit" class="mui-btn mui-btn--primary mui-btn--raised">SoundCloud</button>
            </form>
          {% endif %}
        </div>
      </div>
      <hr>
    {% endfor %}
  </div>
{% endblock %}
