{% extends "base.html" %}

{% load static %}

{% block head %}
  <style>
    .filefield .label {
      color: rgb(110, 130, 120);
      font-size: small;
    }
    .filefield input[type="file"] {
      display: none;
    }
  </style>
  <script>
    function update_filename() {
      const fileInput = document.getElementById("picture");
      const filename = fileInput.files[0].name;
      document.getElementById("picture-text").textContent = filename;
    }
  </script>
{% endblock %}

{% block content %}
  <div class="mui-container-fluid">
    <div class="mui-row">
      <div class="mui-col-lg-3 mui-col-md-3">
        {% if dj.picture and dj.id is not None %}
          <img src="{% get_static_prefix %}images/djs/{{ dj.id }}.png" style="margin-top: 1em">
        {% endif %}
      </div>
      <div class="mui-col-lg-6 mui-col-md-9">
        <form class="mui-form" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <legend>{{ tr.EditDJprofile }}</legend>
          <div class="mui-textfield mui-textfield--float-label">
            <input type="text" name="name" value="{{ dj.name }}">
            <label>{{ tr.Stagename }}</label>
            {% if errors.name %}
              <p class="mui--text-danger">{{ errors.name }}</p>
            {% endif %}
          </div>
          <div class="mui-textfield mui-textfield--float-label">
            <textarea name="description">{{ dj.description }}</textarea>
            <label>{{ tr.Description }}</label>
            {% if errors.description %}
              <p class="mui--text-danger">{{ errors.description }}</p>
            {% endif %}
          </div>
          <div class="filefield">
            <p class="label">{{ tr.Profilepicture }}</p>
            <label for="picture" class="mui-btn mui-btn--primary mui-btn--raised" id="picture-text">{{ tr.Changeprofilepicture }}</label>
            <p>{{ tr.Profilepicturerequirements_text }}</p>
            <input id="picture" type="file" name="picture" onchange="update_filename()">
            {% if errors.picture %}
              <p class="mui--text-danger">{{ errors.picture }}</p>
            {% endif %}
          </div>
          <div class="mui-textfield mui-textfield--float-label">
            <input type="text" name="soundcloud_url" value="{{ dj.soundcloud_url }}">
            <label>{{ tr.SoundCloudURL }}</label>
            {% if errors.soundcloud_url %}
              <p class="mui--text-danger">{{ errors.soundcloud_url }}</p>
            {% endif %}
          </div>
          <div class="mui-textfield mui-textfield--float-label">
            <input type="text" name="rate" value="{% if dj.rate is not None %}{{ dj.rate }}{% endif %}">
            <label>{{ tr.Rateeuroperhour|safe }}</label>
            {% if errors.rate %}
              <p class="mui--text-danger">{{ errors.rate }}</p>
            {% endif %}
          </div>
          <button type="submit" class="mui-btn mui-btn--primary mui-btn--raised">{{ tr.Save }}</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
