<div class="footer mui-container-fluid light-background">
  <div class="mui-row">
    <div class="mui-col-lg-2 mui-col-sm-6 mui-col-lg-offset-2">
      <h3>{{ tr.Language }}</h3>
      <div class="mui-dropdown mui-dropdown--up">
        <button class="mui-btn mui-btn--fab mui-btn--primary" data-mui-toggle="dropdown">
          <span class="material-symbols-outlined">language</span>
        </button>
        <ul class="mui-dropdown__menu">
          <li><a href="/en">English</a></li>
          <li><a href="/de">Deutsch</a></li>
        </ul>
      </div>
    </div>
    <div class="mui-col-lg-2 mui-col-sm-6">
      <h3>{{ tr.Services }}</h3>
      <ul>
        <li><a href="/{{ tr.lang }}/booking">{{ tr.BookaDJ }}</a></li>
        <li><a href="/{{ tr.lang }}/showcase">{{ tr.Showcaseyourportfolio }}</a></li>
        <li><a href="/{{ tr.lang }}/advertise">{{ tr.Advertiseyourevents }}</a></li>
      </ul>
    </div>
    <div class="mui-col-lg-2 mui-col-sm-6">
      <h3>{{ tr.Aboutus }}</h3>
      <p><a href="/{{ tr.lang }}/concept">{{ tr.Readaboutourconcept }}</a></p>
    </div>
    <div class="mui-col-lg-2 mui-col-sm-6">
      <h3>{{ tr.Support }}</h3>
      <p><a href="mailto:support@beatmatcher.org">support@beatmatcher.org</a></p>
    </div>
  </div>
</div>
