  <div class="footer mui-container-fluid light-background">
    <div class="mui-row">
      <div class="mui-col-md-2 mui-col-md-offset-2">
        <h2>{{ tr.Services }}</h2>
        <ul>
          <li><a href="/{{ tr.lang }}/booking">{{ tr.BookaDJ }}</a></li>
          <li><a href="/{{ tr.lang }}/showcase">{{ tr.Showcaseyourportfolio }}</a></li>
        </ul>
      </div>
      <div class="mui-col-md-2">
        <h3>Contact</h3>
        <p>info@beatmatcher.org</p>
      </div>
      <div class="mui-col-md-2">
        <h3>About</h3>
        <p><a href="/{{ tr.lang }}/concept">Concept</a></p>
      </div>
    </div>
  </div>
