{% load static %}
<div id="nav" class="light-background">
  <div>
    <img src="{% static "speaker.png" %}" class="logo">
    <a class="title" href="https://beatmatcher.org">Beatmatcher</a>
  </div>
  <ul>
    <li><a href="{% url "djs" lang=tr.lang %}">{{ tr.DJs }}</a></li>
    <li><a href="{% url "clubs" lang=tr.lang %}">{{ tr.Clubs }}</a></li>
    {% if user.is_authenticated %}
      <li><a href="{% url "sign-up" lang=tr.lang %}">{{ tr.Account }}</a></li>
      <li><a href="{% url "log-out" lang=tr.lang %}">{{ tr.Logout }}</a></li>
    {% else %}
      <li><a href="{% url "sign-up" lang=tr.lang %}">{{ tr.Signup }}</a></li>
      <li><a href="{% url "log-in" lang=tr.lang %}">{{ tr.Login }}</a></li>
    {% endif %}
    <li class="hamburger">
      <a href="javascript:void(0);" onclick="toggleNavbarHamburger()">
        <div class="bar-1"></div>
        <div class="bar-2"></div>
        <div class="bar-3"></div>
      </a>
    </li>
  </ul>
</div>
