{% extends "base.html" %}

{% load static %}
{% load translation %}
{% load booking %}

{% block head %}
  <style>
    .datetime input[readonly] {
      cursor: pointer;
    }
  </style>
  <script>
    window.onload = function() {
      flatpickr("#booking-datetime", {
        {% if booking.set_time %}
          defaultDate: "{{ booking.set_time|render_datetime }}",
        {% endif %}
        enableTime: true,
        dateFormat: "Y-m-d H:i",
        altInput: true,
        altFormat: "F j, Y H:i",
        minDate: "today",
      });
    }
  </script>
{% endblock %}

{% block content %}
  <div class="mui-container-fluid">
    <div class="mui-row">
      <div class="mui-col-md-3 mui-col-md-offset-3">
        <h3>{{ tr.Youarebooking_template|with_arg:dj.name }}</h3>
        {% if dj.picture %}
          <p>
            <img src="{% get_static_prefix %}images/djs/{{ dj.id }}.png">
          </p>
        {% endif %}
      </div>
      <div class="mui-col-md-5">
        <form class="mui-form" method="post">
          {% csrf_token %}
          <div class="mui-textfield mui-textfield--float-label">
            <input type="text" name="contact-name" value="{{ booking.contact_name }}">
            <label>{{ tr.Contactname }}</label>
            {% if errors.contact_name %}
              <p class="mui--text-danger">{{ errors.contact_name }}</p>
            {% endif %}
          </div>
          <div class="mui-textfield mui-textfield--float-label">
            <input type="text" name="phone-number" value="{{ booking.phone_number }}">
            <label>{{ tr.Phonenumber }}</label>
            {% if errors.phone_number %}
              <p class="mui--text-danger">{{ errors.phone_number }}</p>
            {% endif %}
          </div>
          <div class="mui-textfield mui-textfield--float-label">
            <input type="text" name="email" value="{{ booking.email }}">
            <label>{{ tr.Emailaddress }}</label>
            {% if errors.email %}
              <p class="mui--text-danger">{{ errors.email }}</p>
            {% endif %}
          </div>
          <div class="mui-textfield mui-textfield--float-label">
            <input type="text" name="address" value="{{ booking.address }}">
            <label>{{ tr.Whatisthevenueaddress }}</label>
            {% if errors.address %}
              <p class="mui--text-danger">{{ errors.address }}</p>
            {% endif %}
          </div>
          <div class="datetime mui-textfield mui-textfield--float-label">
            <input id="booking-datetime" type="text" name="set-time" value="{% if booking.set_time %}{{ booking.set_time }}{% endif %}">
            <label>{{ tr.Whattimedoyouwantthemtoarrive }}</label>
            {% if errors.set_time %}
              <p class="mui--text-danger">{{ errors.set_time }}</p>
            {% endif %}
          </div>
          <div class="mui-textfield mui-textfield--float-label">
            <input type="text" name="hours" value="{% if booking.hours %}{{ booking.hours }}{% endif %}">
            <label>{{ tr.Howmanyhoursisthebookingfor }}</label>
            {% if errors.hours %}
              <p class="mui--text-danger">{{ errors.hours }}</p>
            {% endif %}
          </div>
          <div class="mui-textfield mui-textfield--float-label">
            <textarea name="other-information">{{ booking.other_information }}</textarea>
            <label>{{ tr.Anyotherinformation }}</label>
          </div>
          <button type="submit" class="mui-btn mui-btn--primary mui-btn--raised">{{ tr.Makebookingrequest }}</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
