{% extends "base.html" %}

{% block content %}
  <div class="mui-container-fluid">
    <div class="mui-row">
      <div class="mui-col-md-4 mui-col-md-offset-4">
        <form class="mui-form" method="post">
          {% csrf_token %}
          <legend>{{ tr.Setyouraccountdetails }}</legend>
          {% if error %}
            <p class="mui--text-danger">
              {{ error }}
            </p>
          {% endif %}
          <div class="mui-textfield mui-textfield--float-label">
            <input type="text" name="username" value="{{ username }}">
            <label>{{ tr.Username }}</label>
            {% if errors.username %}
              <p class="mui--text-danger">{{ errors.username }}</p>
            {% endif %}
          </div>
          <div class="mui-textfield mui-textfield--float-label">
            <input type="password" name="password">
            <label>{{ tr.Password }}</label>
            {% if errors.password %}
              <p class="mui--text-danger">{{ errors.password }}</p>
            {% endif %}
          </div>
          <div class="mui-textfield mui-textfield--float-label">
            <input type="password" name="password-verify">
            <label>{{ tr.Verifypassword }}</label>
          </div>
          <button type="submit" class="mui-btn mui-btn--primary mui-btn--raised">{{ tr.Setyouraccountdetails }}</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
