{% extends "base.html" %}

{% block content %}
  <div class="mui-container-fluid">
    <div class="mui-row">
      <div class="mui-col-md-4 mui-col-md-offset-4">
        <form class="mui-form">
          <legend>{{ tr.Signup }}</legend>
          <div class="mui-textfield mui-textfield--float-label">
            <input type="text">
            <label>{{ tr.Emailaddress }}</label>
          </div>
          <button type="submit" class="mui-btn mui-btn--primary mui-btn--raised">{{ tr.Signmeup }}</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
