.light-background {
  background-color: rgb(240, 230, 220);
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
#content {
  margin-top: 12em;
}
.footer {
  width: 100%;
  margin-top: auto;
  border-top: 1px solid rgb(180, 170, 160);
}
.footer ul { padding-left: 1em; }
#content img { border: 1px solid rgb(180, 170, 160); }
#nav {
  position: fixed;
  display: flex;
  top: 0;
  right: 0;
  width: 100%;
  height: 10em;
  padding: 0 5em;
  border-bottom: 1px solid rgb(180, 170, 160);
  justify-content: space-between;
  font-family: "Montserrat-Thin";
  z-index: 1;
}
#nav > div, #nav > ul {
  display: flex;
  align-items: center;
  height: 100%;
}
#nav > ul li {
  list-style: none;
  margin: 0 1em;
  white-space: nowrap;
  font-size: 2em;
}
#nav a {
  color: #000;
}
#nav .logo {
  display: block;
  height: 5em;
  padding: 0 0.5em 0 2em;
}
#nav .title {
  display: block;
  font-size: 3em;
}
#nav .hamburger {
  display: none;
}
@media (max-width: 1230px) {
  #nav {
    padding: 0 1em;
  }
}
@media (max-width: 1120px) {
  #nav .title {
    display: none;
  }
}
@media (max-width: 857px) {
  #nav li {
    display: none;
  }
  #nav.open li {
    display: block;
  }
  #nav .hamburger {
    display: block;
  }
  #nav .hamburger .bar-1, #nav .hamburger .bar-2, #nav .hamburger .bar-3 {
    width: 21px;
    height: 3px;
    background-color: #000000;
    margin: 4px 0;
    transition: 0.3s;
  }
  #nav.open .hamburger .bar-1 {
    transform: translate(0, 7px) rotate(-45deg);
  }
  #nav.open .hamburger .bar-2 {
    opacity: 0;
  }
  #nav.open .hamburger .bar-3 {
    transform: translate(0, -7px) rotate(45deg);
  }
  #nav.open {
    position: fixed;
    top: 0;
    right: 0;
    height: auto;
    align-items: center;
  }
  #nav.open .hamburger {
    position: absolute;
    right: 0;
    top: 1em;
  }
  #nav.open ul {
    display: block;
  }
}
@media (max-width: 857px) {
  #nav .title {
    display: block;
  }
}
@media (max-width: 518px) {
  #nav .title {
    display: none;
  }
}
@media (max-width: 335px) {
  #nav.open .logo {
    display: none;
  }
}
