{% load static %}
{% load translation %}

{% include "favicon.html" %}
{% include "og-meta-tags.html" %}

<!-- Mobile devices -->
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- MUI -->
<link rel="stylesheet" href="{% static "mui.css" %}">
<script src="{% static "mui.js" %}"></script>

<!-- Icons -->
<link rel="stylesheet" href="{% static "material-symbols.css" %}">

<!-- Navigation -->
<link rel="stylesheet" href="{% static "nav.css" %}">
<script src="{% static "nav.js" %}"></script>

<!-- flatpickr -->
<link rel="stylesheet" href="{% static "flatpickr.css" %}">
<script src="{% static "flatpickr.js" %}"></script>

<!-- Global styles and scripts -->
<link rel="stylesheet" href="{% static "global.css" %}">
<script src="{% static "global.js" %}"></script>

<!-- Title -->
<title>{{ SITE_TITLE }}</title>

<!-- Scripts and styles -->
{% block head %}{% endblock %}

<!-- Navigation -->
{% include "nav.html" %}

<!-- Content -->
<div id="content">{% block content %}{% endblock %}</div>

<!-- Footer -->
{% include "footer.html" %}
