{% load translation %}

<form
  class="mui-form"
  method="post"
  {% if form.action %}
    action="{{ form.action }}"
  {% endif %}
  {% if form.enctype %}
    enctype="{{ form.enctype }}"
  {% endif %}
>
  {% csrf_token %}
  <legend>{{ form.title }}</legend>
  {% if form.error %}
    <p class="mui--text-danger">
      {{ form.error }}
    </p>
  {% endif %}
  {% for element in form.elements %}
    {% if element.type == "hidden" %}
      <input
        type="hidden"
        name="{{ element.name }}"
        {% if element.value is not None %}
          value="{{ element.value }}"
        {% endif %}
      >
    {% elif element.type == "text" %}
      <div class="mui-textfield mui-textfield--float-label">
        <input
          type="text"
          name="{{ element.name }}"
          {% if element.max_length %}
            maxlength="{{ element.max_length }}"
          {% endif %}
          {% if element.required %}
            required
          {% endif %}
          {% if element.value %}
            value="{{ element.value }}"
          {% endif %}
        >
        <label>{{ element.label }}</label>
        {% if element.error %}
          <p class="mui--text-danger">
            {{ element.error }}
          </p>
        {% endif %}
      </div>
    {% elif element.type == "password" %}
      <div class="mui-textfield mui-textfield--float-label">
        <input
          type="password"
          name="{{ element.name }}"
          {% if element.required %}
            required
          {% endif %}
        >
        <label>{{ element.label }}</label>
        {% if element.error %}
          <p class="mui--text-danger">
            {{ element.error }}
          </p>
        {% endif %}
      </div>
    {% elif element.type == "textarea" %}
      <div class="mui-textfield mui-textfield--float-label">
        <textarea
          name="{{ element.name }}"
          {% if element.max_length %}
            maxlength="{{ element.max_length }}"
          {% endif %}
          {% if element.required %}
            required
          {% endif %}
        >{% if element.value %}{{ element.value }}{% endif %}</textarea>
        <label>{{ element.label }}</label>
        {% if element.error %}
          <p class="mui--text-danger">{{ element.error }}</p>
        {% endif %}
      </div>
    {% elif element.type == "file" %}
      <div class="filefield">
        <p class="label">{{ element.label }}</p>
        <label
          for="filefield-{{ form.form_id }}-{{ element.name }}"
          class="mui-btn mui-btn--primary mui-btn--raised"
          id="filefield-{{ form.form_id }}-{{ element.name }}-text"
        >
          {{ element.button_text }}
        </label>
        {% if element.information_text %}
          <p>{{ element.information_text }}</p>
        {% endif %}
        <input
          id="filefield-{{ form.form_id }}-{{ element.name }}"
          type="file"
          name="{{ element.name }}"
          onchange="filefield_update_filename('{{ form.form_id }}', '{{ element.name }}')"
          {% if element.required %}
            required
          {% endif %}
        >
        {% if element.error %}
          <p class="mui--text-danger">{{ element.error }}</p>
        {% endif %}
      </div>
    {% elif element.type == "select" %}
      <div class="mui-select">
        <select name="{{ element.name }}">
          {% for choice in element.choices %}
            <option
              value="{{ choice.0 }}"
              {% if element.value == choice.0 %}
                selected
              {% endif %}
            >
              {{ choice.1 }}
            </option>
          {% endfor %}
        </select>
        <label>{{ element.label }}</label>
        {% if element.error %}
          <p class="mui--text-danger">{{ element.error }}</p>
        {% endif %}
      </div>
    {% elif element.type == "submit-button" %}
      <button
        type="submit"
        class="mui-btn mui-btn--primary mui-btn--raised"
      >
        {{ element.label }}
      </button>
    {% endif %}
  {% endfor %}
</form>
