{% load static %}
{% load translation %}

<div id="nav" class="light-background">
  <div>
    <a href="{{ SITE_URL }}" class="logo"><img src="{% static "logo.png" %}"></a>
    <a class="title" href="{{ SITE_URL }}">{{ SITE_TITLE }}</a>
  </div>
  <ul>
    <li><a href="{% url "concept" %}">{% tr "Concept" %}</a></li>
    {% if user.is_authenticated %}
      <li><a href="{% url "account" %}">{% tr "Account" %}</a></li>
      <li><a href="{% url "log-out" %}">{% tr "Log out" %}</a></li>
    {% else %}
      <li><a href="{% url "sign-up" %}">{% tr "Sign up" %}</a></li>
      <li><a href="{% url "account" %}">{% tr "Log in" %}</a></li>
    {% endif %}
    <li class="hamburger">
      <a href="javascript:void(0);" onclick="toggleNavbarHamburger()">
        <div class="bar-1"></div>
        <div class="bar-2"></div>
        <div class="bar-3"></div>
      </a>
    </li>
  </ul>
</div>
